<!-- Features-->
<div class="features" id="features">
    <div class="container">
      <div class="tabs-box">
       <ul class="tabs-menu">
         <li><a href="#tab1">Lo Ultimo</a></li>
         <li><a href="#tab2">Populares</a></li>
         <li><a href="#tab3">A Pedido</a></li>
       </ul>
      <div class="clearfix"></div>
      <div class="tab-grids">
        <!-- START TAB 1 -->
        <app-best-seller></app-best-seller>
        <!-- END ONE TAB-->
        <!-- START TAB 2 -->
        <app-popular></app-popular>
          <!-- END ONE TAB-->
        <app-discount></app-discount>
      </div>
    </div>  
  </div>
 </div>