<!--header//-->
<div class="about">
    <div class="container">
       <ol class="breadcrumb">
       <li><a routerLink="/home">Home</a></li>
       <li class="active">Confecciones</li>
      </ol>
      <h2>Confecciones Mariana's</h2>
      <div class="about-sec">
        <div class="about-pic"><img src="../../assets/images/a1.jpg" class="img-responsive" alt=""/></div>
        <div class="about-info">
          <p>Realizamos todo tipo de costuras a pedido, desde deportivos, chamarras, ropa de trabajo, uniformes para Chefs.
            Usted dejenos un mensaje por WhatsApp y nosotros nos contactaremos con usted lo mas rápido posible para atender su pedido.
          </p>
          <a routerLink="/blog">Conocer mas ...</a>
        </div>
        <div class="clearfix"></div>
      </div>
      <h3>Nuestros Trabajos</h3>
      <!--TEST BUTTON-->
      <!--<app-product-overview></app-product-overview> -->
      <!-- END TEST-->
      <div class="about-grids">
        <div class="col-md-3 about-grid js-show-modal1">
          <img src="../../assets/../../assets/images/ab1.jpg" class="img-responsive" alt="IMG-PRODUCT"/>
          <a href="blog-single.html"><h4>Kurtis & Kurtas</h4></a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, recusandae, minima deserunt pariatur illo eos doloremque
          Asperiores modi temporibus consequuntur tempore quibusdam!</p>
        </div>
        <div class="col-md-3 about-grid js-show-modal1">
          <img src="../../assets/images/ab2.jpg" class="img-responsive" alt=""/>
          <a href="blog-single.html"><h4>Salwars</h4></a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, recusandae, minima deserunt pariatur illo eos doloremque 
          Asperiores modi temporibus consequuntur tempore quibusdam!</p>
        </div>
        <div class="col-md-3 about-grid pot-2">
          <img src="../../assets/images/ab3.jpg" class="img-responsive" alt=""/>
          <a href="blog-single.html"><h4>Desi Look</h4></a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, recusandae, minima deserunt pariatur illo eos doloremque
          Asperiores modi temporibus consequuntur tempore quibusdam!</p>
        </div>
        <div class="col-md-3 about-grid pot-1">
          <img src="../../assets/images/ab4.jpg" class="img-responsive" alt=""/>
          <a href="blog-single.html"><h4>Designersaree</h4></a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, recusandae, minima deserunt pariatur illo eos doloremque 
          Asperiores modi temporibus consequuntur tempore quibusdam!</p>
        </div>
        <div class="clearfix"></div>
        <div class="bottom-grids">
        <div class="col-md-3 about-grid flwr">
          <img src="../../assets/images/ab5.jpg" class="img-responsive" alt=""/>
          <a href="blog-single.html"><h4>NEWLOOK</h4></a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, recusandae, minima deserunt pariatur illo eos doloremque
          Asperiores modi temporibus consequuntur tempore quibusdam!</p>
        </div>
        <div class="col-md-3 about-grid flwr">
          <img src="../../assets/images/ab6.jpg" class="img-responsive" alt=""/>
          <a href="blog-single.html"><h4>Meriea</h4></a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, recusandae, minima deserunt pariatur illo eos doloremque 
          Asperiores modi temporibus consequuntur tempore quibusdam!</p>
        </div>
        <div class="col-md-3 about-grid flwr pot-2">
          <img src="../../assets/images/ab7.jpg" class="img-responsive" alt=""/>
          <a href="blog-single.html"><h4>Woolen Shurg</h4></a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, recusandae, minima deserunt pariatur illo eos doloremque
          Asperiores modi temporibus consequuntur tempore quibusdam!</p>
        </div>
        <div class="col-md-3 about-grid flwr pot-1">
          <img src="../../assets/images/ab8.jpg" class="img-responsive" alt=""/>
          <a href="blog-single.html"><h4>Black Shurg</h4></a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, recusandae, minima deserunt pariatur illo eos doloremque 
          Asperiores modi temporibus consequuntur tempore quibusdam!</p>
        </div>
        <div class="clearfix"></div>
        </div>
      </div>
    </div>
 </div>
  <app-modal class="js-modal1"></app-modal>