<!--header-->
<div class="header2 text-center">
    <div class="container">
      <div class="main-header">
         <div class="carting">
          <ul><li><a href="login.html"> LOGIN</a></li></ul>
          </div>
        <div class="logo">
          <h3><a href="index.html">MARIANA's FASHION</a></h3>
         </div>			  
        <div class="clearfix"></div>
      </div>
         <!-- start header menu -->
      <ul class="megamenu skyblue">
       <li><a href="index.html">HOME</a></li>							
        <li><a href="#">WOMEN</a>
           <div class="megapanel">
             <div class="row">
             <div class="col1">
               <div class="h_nav">
                 <h4>shop</h4>
                 <ul>
                   <li><a href="products.html">new arrivals</a></li>
                   <li><a href="products.html">men</a></li>
                   <li><a href="products.html">women</a></li>
                   <li><a href="products.html">accessories</a></li>
                   <li><a href="products.html">kids</a></li>
                   <li><a href="products.html">brands</a></li>
                 </ul>	
               </div>							
             </div>
             <div class="col1">
               <div class="h_nav">
                 <h4>help</h4>
                 <ul>
                   <li><a href="products.html">trends</a></li>
                   <li><a href="products.html">sale</a></li>
                   <li><a href="products.html">style videos</a></li>
                   <li><a href="products.html">accessories</a></li>
                   <li><a href="products.html">kids</a></li>
                   <li><a href="products.html">style videos</a></li>
                 </ul>	
               </div>							
             </div>
             <div class="col1">
               <div class="h_nav">
                 <h4>Products</h4>
                 <ul>
                   <li><a href="products.html">trends</a></li>
                   <li><a href="products.html">sale</a></li>
                   <li><a href="products.html">style videos</a></li>
                   <li><a href="products.html">accessories</a></li>
                   <li><a href="products.html">kids</a></li>
                   <li><a href="products.html">style videos</a></li>
                 </ul>	
               </div>												
             </div>						
             <div class="col1">
               <div class="h_nav">
                 <h4>my company</h4>
                 <ul>
                   <li><a href="products.html">tremds</a></li>
                   <li><a href="products.html">sale</a></li>
                   <li><a href="products.html">style videos</a></li>
                   <li><a href="products.html">accessories</a></li>
                   <li><a href="products.html">kids</a></li>
                   <li><a href="products.html">style videos</a></li>
                 </ul>	
               </div>
             </div>
             <div class="col1">
               <div class="h_nav">
                 <h4>popular</h4>
                 <ul>
                   <li><a href="products.html">new arrivals</a></li>
                   <li><a href="products.html">men</a></li>
                   <li><a href="products.html">women</a></li>
                   <li><a href="products.html">accessories</a></li>
                   <li><a href="products.html">kids</a></li>
                   <li><a href="products.html">style videos</a></li>
                 </ul>	
               </div>
             </div>
           </div>
           <div class="row">
             <div class="col2"></div>
             <div class="col1"></div>
             <div class="col1"></div>
             <div class="col1"></div>
             <div class="col1"></div>
           </div>
             </div>
         </li>				
         <li><a href="#">MEN</a>
         <div class="megapanel">
           <div class="row">
             <div class="col1">
               <div class="h_nav">
                 <h4>shop</h4>
                 <ul>
                   <li><a href="men.html">new arrivals</a></li>
                   <li><a href="men.html">men</a></li>
                   <li><a href="men.html">women</a></li>
                   <li><a href="men.html">accessories</a></li>
                   <li><a href="men.html">kids</a></li>
                   <li><a href="men.html">brands</a></li>
                 </ul>	
               </div>							
             </div>
             <div class="col1">
               <div class="h_nav">
                 <h4>help</h4>
                 <ul>
                   <li><a href="men.html">trends</a></li>
                   <li><a href="men.html">sale</a></li>
                   <li><a href="men.html">style videos</a></li>
                   <li><a href="men.html">accessories</a></li>
                   <li><a href="men.html">kids</a></li>
                   <li><a href="men.html">style videos</a></li>
                 </ul>	
               </div>							
             </div>
             <div class="col1">
               <div class="h_nav">
                 <h4>Products</h4>
                 <ul>
                   <li><a href="men.html">trends</a></li>
                   <li><a href="men.html">sale</a></li>
                   <li><a href="men.html">style videos</a></li>
                   <li><a href="men.html">accessories</a></li>
                   <li><a href="men.html">kids</a></li>
                   <li><a href="men.html">style videos</a></li>
                 </ul>	
               </div>												
             </div>						
             <div class="col1">
               <div class="h_nav">
                 <h4>my company</h4>
                 <ul>
                   <li><a href="men.html">trends</a></li>
                   <li><a href="men.html">sale</a></li>
                   <li><a href="men.html">style videos</a></li>
                   <li><a href="men.html">accessories</a></li>
                   <li><a href="men.html">kids</a></li>
                   <li><a href="men.html">style videos</a></li>
                 </ul>	
               </div>
             </div>
             <div class="col1">
               <div class="h_nav">
                 <h4>popular</h4>
                 <ul>
                   <li><a href="men.html">new arrivals</a></li>
                   <li><a href="men.html">men</a></li>
                   <li><a href="men.html">women</a></li>
                   <li><a href="men.html">accessories</a></li>
                   <li><a href="men.html">kids</a></li>
                   <li><a href="men.html">style videos</a></li>
                 </ul>	
               </div>
             </div>
           </div>
           <div class="row">
             <div class="col2"></div>
             <div class="col1"></div>
             <div class="col1"></div>
             <div class="col1"></div>
             <div class="col1"></div>
           </div>
             </div>
         </li>
         <li class="grid"><a href="about.html">ABOUT US</a></li>
           <li class="grid"><a href="blog.html">BLOG</a></li>				
         <li class="active"><a href="#">SHOP ONLINE</a>
         <div class="megapanel">
           <div class="row">
             <div class="col1">
               <div class="h_nav">
                 <h4>shop</h4>
                 <ul>
                   <li><a href="shop.html">new arrivals</a></li>
                   <li><a href="shop.html">men</a></li>
                   <li><a href="shop.html">women</a></li>
                   <li><a href="shop.html">accessories</a></li>
                   <li><a href="shop.html">kids</a></li>
                   <li><a href="shop.html">brands</a></li>
                 </ul>	
               </div>							
             </div>
             <div class="col1">
               <div class="h_nav">
                 <h4>help</h4>
                 <ul>
                   <li><a href="shop.html">trends</a></li>
                   <li><a href="shop.html">sale</a></li>
                   <li><a href="shop.html">style videos</a></li>
                   <li><a href="shop.html">accessories</a></li>
                   <li><a href="shop.html">kids</a></li>
                   <li><a href="shop.html">style videos</a></li>
                 </ul>	
               </div>							
             </div>
             <div class="col1">
               <div class="h_nav">
                 <h4>Products</h4>
                 <ul>
                   <li><a href="shop.html">trends</a></li>
                   <li><a href="shop.html">sale</a></li>
                   <li><a href="shop.html">style videos</a></li>
                   <li><a href="shop.html">accessories</a></li>
                   <li><a href="shop.html">kids</a></li>
                   <li><a href="shop.html">style videos</a></li>
                 </ul>	
               </div>												
             </div>						
             <div class="col1">
               <div class="h_nav">
                 <h4>my company</h4>
                 <ul>
                   <li><a href="shop.html">trends</a></li>
                   <li><a href="shop.html">sale</a></li>
                   <li><a href="shop.html">style videos</a></li>
                   <li><a href="shop.html">accessories</a></li>
                   <li><a href="shop.html">kids</a></li>
                   <li><a href="shop.html">style videos</a></li>
                 </ul>	
               </div>
             </div>
             <div class="col1">
               <div class="h_nav">
                 <h4>popular</h4>
                 <ul>
                   <li><a href="shop.html">new arrivals</a></li>
                   <li><a href="shop.html">men</a></li>
                   <li><a href="shop.html">women</a></li>
                   <li><a href="shop.html">accessories</a></li>
                   <li><a href="shop.html">kids</a></li>
                   <li><a href="shop.html">style videos</a></li>
                 </ul>	
               </div>
             </div>
           </div>
           <div class="row">
             <div class="col2"></div>
             <div class="col1"></div>
             <div class="col1"></div>
             <div class="col1"></div>
             <div class="col1"></div>
           </div>
             </div>
         </li>		
         
         </ul> 			 
         <div class="clearfix"></div> 
    </div>
 </div>
 <!--header//-->