<!-- Product -->
<section class="bg0 p-t-23 p-b-140" >
  <div class="container">
    <div class="p-b-10">
      <h3 class="ltext-103 cl5">
        Product Overview
      </h3>
    </div>
    <ol class="breadcrumb">
      <li><a routerLink="/home">Home</a></li>
      <li class="active">Galeria</li>
    </ol>

    <div class="flex-w flex-sb-m p-b-52">
      <div class="flex-w flex-l-m filter-tope-group m-tb-10">
        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
          All Products
        </button>

        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".women">
          Ropa Mujeres
        </button>

        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".men">
          Ropa Hombres
        </button>

        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".stuffs">
          Articulos Variados
        </button>
      </div>
    </div>

    <!--Gallery Grid-->
    <div class="row isotope-grid">
      <app-women class = "isotope-item women"></app-women>
      <app-stuffs class = "isotope-item stuffs"></app-stuffs>
      <app-men class = "isotope-item men"></app-men>
    </div>
    
    <!-- Load more -->
    <div class="flex-c-m flex-w w-full p-t-45">
      <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
        Load More
      </a>
    </div>
  </div>
</section>

<app-modal class="js-modal1"></app-modal>