<div class="categoires">
  <div class="container">
    <a href="#"><div class="col-md-4 sections fashion-grid-a">
      <h4>Fashion</h4>
      <p>dignissim</p>			 					
    </div></a>
    <a href="#"><div class="col-md-4 sections fashion-grid-b">
      <h4>Beauty</h4>
      <p>fermentum</p>			 					
    </div></a>
    <a href="#"><div class="col-md-4 sections fashion-grid-c">
      <h4>Creativity</h4>
      <p>vulputate</p>				
    </div></a>
  </div>
</div>


<!-- Features-->
<div class="features" id="features">
    <div class="container">
      <div class="tabs-box">
       <ul class="tabs-menu">
         <li><a href="#tab1">Best seller</a></li>
         <li><a href="#tab2">Popular</a></li>
         <li><a href="#tab3">New Arrivals</a></li>
       </ul>
      <div class="clearfix"></div>
      <div class="tab-grids">
        <!-- START TAB 1 -->
        <div id="tab1" class="tab-grid1">			   				  
          <!-- ONE ITEM-->
          <a href="single.html">
            <div class="product-grid">					  
              <div class="more-product-info"><span>NEW</span></div>						
              <div class="product-img b-link-stripe b-animate-go  thickbox">						   
                <img src="../../assets/images/bs1.jpg" class="img-responsive" alt=""/>
                <div class="b-wrapper">
                  <h4 class="b-animate b-from-left  b-delay03">							
                  <button class="btns">ORDER NOW</button>
                  </h4>
                </div>
              </div>
              <div class="product-info simpleCart_shelfItem">
                <div class="product-info-cust">
                  <h4>BELLE B&W</h4>
                  <span class="item_price">$187.95</span>
                </div>
                <div class="clearfix"> </div>
                <input type="button" style="text-align: center;"class="item_add" value="ADD">	
              </div>
            </div>
          </a>
          <!--END ONE ITEM-->

          <!-- SECOND ITEM-->
          <a href="single.html">
              <div class="product-grid">					  
                <div class="product-img b-link-stripe b-animate-go  thickbox">						   
                  <img src="../../assets/images/bs2.jpg" class="img-responsive" alt=""/>
                  <div class="b-wrapper">
                    <h4 class="b-animate b-from-left  b-delay03">							
                    <button class="btns">ORDER NOW</button>
                    </h4>
                  </div>
                </div>
                <div class="product-info simpleCart_shelfItem">
                  <div class="product-info-cust">
                    <h4>CLUBYORK</h4>
                    <span class="item_price">$187.95</span>
                  </div>
                  <div class="clearfix"> </div>
                  <input type="button" style="text-align: center;"class="item_add" value="ADD">	
                </div>
              </div>
          </a>
          <!--END SECOND ITEM-->
        </div>
        <!-- END ONE TAB-->

        <!-- START TAB 2 -->
        <div id="tab2" class="tab-grid2">			   				  
            <!-- ONE ITEM-->
            <a href="single.html">
              <div class="product-grid">					  
                <div class="more-product-info"><span>NEW</span></div>						
                <div class="product-img b-link-stripe b-animate-go  thickbox">						   
                  <img src="../../assets/images/c1.jpg" class="img-responsive" alt=""/>
                  <div class="b-wrapper">
                    <h4 class="b-animate b-from-left  b-delay03">							
                    <button class="btns">ORDER NOW</button>
                    </h4>
                  </div>
                </div>
                <div class="product-info simpleCart_shelfItem">
                  <div class="product-info-cust">
                    <h4>NEWLOOK</h4>
                    <span class="item_price">$187.95</span>
                  </div>
                  <div class="clearfix"> </div>
                  <input type="button" style="text-align: center;"class="item_add" value="ADD">	
                </div>
              </div>
            </a>
            <!--END ONE ITEM-->

            <!-- SECOND ITEM-->
            <a href="single.html">
                <div class="product-grid">					  
                  <div class="product-img b-link-stripe b-animate-go  thickbox">						   
                    <img src="../../assets/images/bs2.jpg" class="img-responsive" alt=""/>
                    <div class="b-wrapper">
                      <h4 class="b-animate b-from-left  b-delay03">							
                      <button class="btns">ORDER NOW</button>
                      </h4>
                    </div>
                  </div>
                  <div class="product-info simpleCart_shelfItem">
                    <div class="product-info-cust">
                      <h4>CLUBYORK</h4>
                      <span class="item_price">$187.95</span>
                    </div>
                    <div class="clearfix"> </div>
                    <input type="button" style="text-align: center;"class="item_add" value="ADD">	
                  </div>
                </div>
              </a>
            <!--END SECOND ITEM-->
          </div>
          <!-- END ONE TAB-->
      </div>
    </div>  
  </div>
 </div>