<!-- Header for HOME-->
<app-header></app-header>
<!--END Header for home-->

<!-- Category Selection -->
<div class="categoires">
  <div class="container">
    <a routerLink="/costura">
      <div class="col-md-4 sections fashion-grid-a">
        <h4>Costura</h4>
        <p>Pide tu propio diseño</p>			 					
      </div>
    </a>
    <a routerLink="/galeria"><div class="col-md-4 sections fashion-grid-b">
      <h4>Galeria</h4>
      <p>Conoce nuestros trabajos</p>			 					
    </div></a>
    <a routerLink="/blog"><div class="col-md-4 sections fashion-grid-c">
      <h4>Blog</h4>
      <p>vulputate</p>				
    </div></a>
  </div>
</div>
<!-- END Category Selection-->


<!-- Feature Gallery in Home-->
<app-features></app-features>
<!-- END Feature Gallery in Home-->